* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Estilos padrão para dispositivos móveis */
body {
  background-image: url("corpo.jpg");
  font-size: 14px;
  width: 100%;
  color: white;
}
.principal{
  width: 100%;
  padding: 10%;
}
.entrada{
  border: solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right,rgb(173,140,183,0.6) , rgb(208,198,163,0.6));
  border: none;
  border-radius: 10px;
}
.AlimentoEGramas{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h4,p{
  padding: 10px;
  width: 100%;
}

.cor1{
  background-color: rgb(198,163,208,0.6);
}

.cor2{
  background-color: rgb(149,193,183);
}
input{
  margin: 10px;
  border-radius: 10px;
  height: 25px;
}

button{
  padding: 1%;
  margin: 10px;
  border-radius: 10px;
  background-image: linear-gradient(to right,rgb(173,140,183,0.6) , 
  rgb(149,193,183,0.6));
}

#result{
  display: none;
}
#result1{
  display: none;
}

h1,h2,h3{
  background-color: rgb(149,193,183,0.6);
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  background-color: black;
  height: 30px;
}
.ref{
  width: 100%;
  padding: 7%;
}

#cg{
  border-radius: 0 0 10px 0;
}
#mudarradio9{
  border-radius: 0 0 0 10px;
}
#alim{
  border-radius: 0 10px 0 0;
}
#mudarradio{
  border-radius: 10px 0 0 0;
}
.facebook{
  background-image: url("fcb.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  width: 20px;
  height: 20px;
}
.instagram{
  background-image: url("ins.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  width: 20px;
  height: 20px;
}

#span{
  display: none;
}
.gitt{
  background-color:black;
  width: 100%;
  height: 30px;
  padding: 1%;
}
.git{
  background-image: url("gi.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  width: 20px;
  height: 20px;
  border-radius: 30px;
  margin-left: 40px;
}
/* Para telas médias (tablets) */
@media (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

/* Para telas grandes (desktops) */
@media (min-width: 1024px) {
  body {
    font-size: 18px;
  }
  .principal{
    justify-items: center;
  }
  .entrada{
    width: 50%;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 2%;

  }
  footer{
    height: 80px;
  }
  .facebook,.instagram{
    width: 50px;
    height: 50px;
  }
  .ref{
    padding:0;
    padding-left: 9%;
  }
  .gitt{
    width: 100%;
    height: 80px;
  }
  .git{
    width: 50px;
    height: 50px;
    margin-left: 40px;
    border: solid black 2 px;
  }
}
